<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <%- meta_generator() %>
  <%- open_graph() %>
  <link rel="icon" href="">
  <title><%= config.title %></title>
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto+Mono" rel="stylesheet"> -->
  <!-- <link href="https://fonts.lug.ustc.edu.cn/css?family=Montserrat|Open+Sans|Roboto+Mono" rel="stylesheet"> -->
  <%- css('fonts/index.css') %>
  <%- css('css/common.css') %>
  <style>
    .avatar::before {
      display: block;
      content: '';
      background: url('<%= theme.avatar.url %>') no-repeat center;
      background-size: cover;
      border-radius: 50%;
      border: 1px solid #e6e6e6;
      height: <%= theme.avatar.size %>;
      width: <%= theme.avatar.size %>;
      margin: 0 auto;
      margin-top: 32px;
    }
  </style>

  <% if (page.layout === 'post') { %>
    <%- css('css/post.css') %>
    <%- css('css/highlight.css') %>
    <%- css('css/comment.css') %>
  <% } else { %>
    <%- css('css/index.css') %>
  <% } %>

  <script>
    !(function(){

      document.addEventListener("DOMContentLoaded", function(event) {
        var hash = window.decodeURI(location.hash.replace('#', ''))
        if (hash !== '') {
          var element = document.getElementById(hash)
          console.log(element)
          if (element) {
            var offset = element.offsetTop
            // Wait for the browser to finish rendering before scrolling.
            setTimeout((function() {
              window.scrollTo(0, offset - 0)
            }), 0)
          }
        }
      })

      var dateNow = new Date();
      var h = dateNow.getHours();
      // auto toggle theme
      if (h < 6 || h >= 18) document.querySelector('html').setAttribute('theme', 'dark');
      var darkQuery = window.matchMedia('(prefers-color-scheme: dark)');
      darkQuery.addListener(function(e) {
        // TODO
        console.log(e)
      });
    })()
  </script>

</head>
<body>
  <div class="container">
    <%- body %>
  </div>
</body>
</html>
